In [1]:
# List: [1,2,3,'abc',3,1,1]
# Tuple: (1,3,5,3)
# Set: {1,3,4}
# Dictionary: {'key':'value'}

In [2]:
d = {'name':'Dat'}

In [3]:
d['name_1'] = 'Dat'

In [4]:
d

{'name': 'Dat', 'name_1': 'Dat'}

In [5]:
d['name'] = 'Nhu'
d

{'name': 'Nhu', 'name_1': 'Dat'}

In [6]:
# if <condition>:
#     <do something>
# (else:
#     <do something else>) -> optional
# Write a <condition> in Python: <variable> <operator> <variable/value>

In [7]:
gpa = 4.5
if gpa >= 3.0:
    print('You have graduated')
else:
    print('You have failed')

You have graduated

In [8]:
gpa = 2.5
if gpa >= 3.0:
    print('You have graduated')
else:
    print('You have failed')

You have failed

In [10]:
gpa = 3.5
if gpa >= 4.0:
    print('You have graduated with Honour')
elif gpa >= 3.0:
    print('You have graduated')
else:
    print('You have failed')

You have graduated

In [12]:
gpa = 2.0
if gpa >= 4.0:
    print('You have graduated with Honour')
elif gpa >= 3.0: # 3 <= gpa < 4
    print('You have graduated')
elif gpa >= 2.5:
    print('...')
elif gpa >= 2.0:
    b = 10
else: # gpa < 3
    print('You have failed')

In [13]:
print(b)

10

In [14]:
gpa = 5
if gpa >= 4.0:
    print('You have graduated with Honour')
if gpa >= 3.0:
    print('You have graduated')
else:
    print('You have failed')

You have graduated with Honour
You have graduated

In [15]:
# For
# - Syntax:
# for <element> in <iterable>:
#      <do something>

In [21]:
animal_list = ['dog','cat','human','tiger','lion']
dangerous_list = ['human','tiger','lion']
for e in animal_list:
    if e in dangerous_list:
        print("dangerous" + e)
    else:
        print(e)
print('checked')

dog
cat
dangeroushuman
dangeroustiger
dangerouslion
checked

In [22]:
# While
# - Syntax:
# while <condition>:
#       <do something>

In [25]:
x = 10
while x > 1:
    print(True)
    print(x)
    x = x - 1

True
10
True
9
True
8
True
7
True
6
True
5
True
4
True
3
True
2

In [28]:
for i in range(10,0,-1):
    print(True)
    print(i)

True
10
True
9
True
8
True
7
True
6
True
5
True
4
True
3
True
2
True
1

In [29]:
# Function and Method:

In [32]:
i = True
x = str(i)

In [33]:
x

'True'

In [34]:
print(type(i))
print(type(x))

<class 'bool'>
<class 'str'>

In [35]:
def addition(a,b):
    s = a + b
    return s

In [36]:
n = addition(3,5)
print(n)

8

In [37]:
def find_maximum(l):
    x = l[0]
    for e in l:
        if e > x:
            x = e
    return x

In [39]:
find_maximum([3,5,7,3,2,0,19,2,5])

19

In [40]:
# Method
l = [1, 10, 'True', False, 'abc']
l.append(50)

In [41]:
l

[1, 10, 'True', False, 'abc', 50]

In [42]:
l.pop()

50

In [43]:
l

[1, 10, 'True', False, 'abc']

In [44]:
d = {'name':'Dat', 'gender':'M', 'id':'22559'}

In [47]:
list(d.values())

['Dat', 'M', '22559']

In [48]:
list(d.keys())

['name', 'gender', 'id']

In [49]:
d['name']

'Dat'

In [55]:
# Write a function to get a key corresponded to the inputted value
def get_key(d,val):
    k = []
    for e in list(d.keys()):
        if d[e] == val:
            k.append(e)
    return k

In [56]:
d_dat = {'name':'Dat', 'gender':'M', 'id':'22559', 'name_1':'Dat'}
get_key(d_dat,'Dat')

['name', 'name_1']